@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Poppins:wght@500&display=swap');
@import "../node_modules/bootstrap/scss/mixins";
$primary: #001E6C;
$secondary: #035397;
$light: #5089C6;
$info: #1E252E;
$white: #D8D8D8;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
$color-personality: (
    "darkblue": $primary,
    "darkinfo":$secondary,
    "darkcyan": $light,
    "textwhite": $white,
    "textdark": $info
);

$theme-colors: map-merge($theme-colors, $color-personality);

