@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Poppins:wght@500&display=swap');

$primary: #282a36;
$secondary: #6272a4;
$light: #50fa7b;
$info: #ffb86c;
$white: #D8D8D8;
$red: #E94560;


@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
$color-personality: (
    "darkblue": $primary,
    "darkinfo":$secondary,
    "darkcyan": $light,
    "textwhite": $white,
    "textdark": $info,
    "darkred": $red
);

$theme-colors: map-merge($theme-colors, $color-personality);


body {
    background-color: $primary !important;
    font-family: 'Poppins', sans-serif;

}

header {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(98%2c 114%2c 164%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c193 C 57.6%2c181.4 172.8%2c117.8 288%2c135 C 403.2%2c152.2 460.8%2c298 576%2c279 C 691.2%2c260 748.8%2c59 864%2c40 C 979.2%2c21 1036.8%2c177.2 1152%2c184 C 1267.2%2c190.8 1382.4%2c96 1440%2c74L1440 560L0 560z' fill='rgba(40%2c 42%2c 54%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c370 C 96%2c398.2 288%2c521.8 480%2c511 C 672%2c500.2 768%2c327 960%2c316 C 1152%2c305 1344%2c428 1440%2c456L1440 560L0 560z' fill='rgba(42%2c 44%2c 57%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    width: 100%;
    height: 100%;
}

.text-decoration {
    text-decoration-line: underline;
    text-decoration-color: $light;

}

.img-banner {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;

}

.nav-item {
    color: #D8D8D8
}


.img-banner {

    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.img-background {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background-color: $red;
    width: 50%;
    height: 90%;
    position: absolute;
    top: 0;
    right: 0;
}

@import "../node_modules/bootstrap/scss/bootstrap";