@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Poppins:wght@500&display=swap');

$primary: #03001C;
$secondary: #301E67;
$light: #5B8FB9;
$info: #B6EADA;
$white: #D8D8D8;
$red: #E94560;


@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
$color-personality: (
    "darkblue": $primary,
    "darkinfo":$secondary,
    "darkcyan": $light,
    "textwhite": $white,
    "textdark": $info,
    "darkred": $red
);

$theme-colors: map-merge($theme-colors, $color-personality);


body {
    background-color: $primary !important;
    font-family: 'Poppins', sans-serif;

}
nav{
    background: transparent;
}



.img-banner {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;

}

.nav-item {
    color: #D8D8D8
}


.img-banner {

    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.img-background {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background-color: $red;
    width: 50%;
    height: 90%;
    position: absolute;
    top: 0;
    right: 0;
}

.current {
    color:$info;
    border-top:3px solid $info;
}

.form-control {
	border: 1px solid #B6EADA;
	&:focus {
		box-shadow: 0 0 0 0.1rem #E94560;
	}
}
.icon-efect:hover {
    opacity: 0.5;
}
@import "../node_modules/bootstrap/scss/bootstrap";