@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Poppins:wght@500&display=swap');

$primary: #263D42;
$secondary: #8E6C88;
$light: #CCDBDC;
$info: #63C7B2;
$white: #D8D8D8;
$red: #E94560;


@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
$color-personality: (
    "darkblue": $primary,
    "darkinfo":$secondary,
    "darkcyan": $light,
    "textwhite": $white,
    "textdark": $info,
    "darkred": $red
);

$theme-colors: map-merge($theme-colors, $color-personality);


body {
    background-color: $primary !important;
    font-family: 'Poppins', sans-serif;

}

header {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='500' preserveAspectRatio='none' viewBox='0 0 1440 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1022%26quot%3b)' fill='none'%3e%3crect width='1440' height='500' x='0' y='0' fill='rgba(142%2c 108%2c 136%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c67 C 57.6%2c98.4 172.8%2c214 288%2c224 C 403.2%2c234 460.8%2c116.2 576%2c117 C 691.2%2c117.8 748.8%2c250.4 864%2c228 C 979.2%2c205.6 1036.8%2c8.4 1152%2c5 C 1267.2%2c1.6 1382.4%2c169.8 1440%2c211L1440 500L0 500z' fill='rgba(142%2c 108%2c 128%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c478 C 96%2c433 288%2c252 480%2c253 C 672%2c254 768%2c470.6 960%2c483 C 1152%2c495.4 1344%2c348.6 1440%2c315L1440 500L0 500z' fill='rgba(38%2c 61%2c 66%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1022'%3e%3crect width='1440' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    width: 100%;
    height: 500px;

}


.img-banner {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;

}

.nav-item {
    color: #D8D8D8
}


.img-banner {

    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.img-background {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background-color: $red;
    width: 50%;
    height: 90%;
    position: absolute;
    top: 0;
    right: 0;
}

@import "../node_modules/bootstrap/scss/bootstrap";